<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poten.basket.Poten.DAO.ImageDAO">
    <select id="getImg" parameterType="string" resultType="com.poten.basket.Poten.VO.Image">
        SELECT NAME name,
            ORIGINAL_NAME originalName,
            USER_NICKNAME userNickname,
            EXT ext,
            SIZE size,
            CREATE_DATE createDate
        FROM IMAGE
        WHERE NAME = #{name}
    </select>

    <select id="getImgGroup" parameterType="int" resultType="com.poten.basket.Poten.VO.Image">
        SELECT NAME name,
            ORIGINAL_NAME originalName,
            USER_NICKNAME userNickname,
            EXT ext,
            SIZE size,
            CREATE_DATE createDate
        FROM IMAGE i, BASKET_SPOT_IMAGE bsi 
        WHERE bsi.IMAGE_NAME = i.NAME 
        AND bsi.BASKET_SPOT_ID = #{id}
    </select>

    <delete id="deleteImage" parameterType="string">
        DELETE FROM IMAGE
        WHERE NAME = #{name}
    </delete>

    <delete id="deleteImageRelation" parameterType="string">
        DELETE FROM BASKET_SPOT_IMAGE
        WHERE IMAGE_NAME = #{name}
    </delete>

    <insert id="insertImage" parameterType="com.poten.basket.Poten.VO.Image">
        INSERT INTO IMAGE (NAME, ORIGINAL_NAME, USER_NICKNAME, EXT, SIZE)
                   VALUES (#{name}, #{originalName}, #{userNickname}, #{ext}, #{size})
    </insert>

    <insert id="insertImageRelation" parameterType="map">
        INSERT INTO BASKET_SPOT_IMAGE (BASKET_SPOT_ID, IMAGE_NAME)
                               VALUES (#{id}, #{name})
    </insert>

    <select id="mapPhoto" parameterType="int" resultType="com.poten.basket.Poten.VO.Photo">
        SELECT
        id
        , seq
        , save_name AS saveName
        , photo_upload_date AS photoUploadDate
        , nickname
        , original_name AS originalName
        , upload_path AS uploadPath
        FROM photo
        WHERE
        id = #{id}
    </select>

    <insert id="mapPhotoUpload" parameterType="list">
        INSERT INTO photo(
        id
        , seq
        , save_name
        , original_name
        , photo_upload_date
        , nickname
        , upload_path
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id}
            , #{item.seq}
            , #{item.saveName}
            , #{item.originalName}
            , NOW()
            , #{item.nickname}
            , #{item.uploadPath}
            )
        </foreach>
    </insert>

    <delete id="delPhoto" parameterType="com.poten.basket.Poten.VO.Photo">
        DELETE FROM photo
        WHERE
        id = #{id}
        AND original_name = #{originalName}
    </delete>
</mapper>