<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poten.basket.Poten.DAO.KakaoDAO">
    <select id="getUserByRefreshToken" parameterType="string" resultType="string">
        SELECT UT.REFRESH_TOKEN 
        FROM USER_TOKEN UT, USER U
        WHERE U.NICKNAME = UT.USER_NICKNAME 
          AND U.EMAIL = #{email}
    </select>

    <select id="getUserByNickname" parameterType="String" resultType="String">
        SELECT NICKNAME
        FROM USER
        WHERE EMAIL = #{email}
    </select>

    <select id="nickDupCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM USER
        WHERE NICKNAME = #{nickname}
    </select>
    
    
    <insert id="register" parameterType="com.poten.basket.Poten.VO.User">
        INSERT INTO USER (
            NICKNAME
            , EMAIL
        ) VALUES (
            #{nickname}
            , #{email}
        )
    </insert>


</mapper>