<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poten.basket.Poten.DAO.MapDAO">

    <sql id="mapList">
        SELECT
            id
            , lat
            , lon
            , court_type AS courtType
            , fee_yn AS feeYn
            , court_size AS courtSize
            , goal_post AS goalPost
            , park_yn AS parkYn
            , create_date AS createDate
            , modify_date AS modifyDate
            , address
            , comment
            , court_name AS courtName
            , has_light AS hasLight
            , light_time AS lightTime
            , open_status AS openStatus
            , open_time AS openTime
        FROM basket_spot
    </sql>

    <select id="mapList" resultType="com.poten.basket.Poten.VO.MapResponse">
        <include refid="mapList"></include>
        <!-- WHERE
            is_deleted = 0 -->
    </select>

    <select id="mapPhotoList" parameterType="int" resultType="com.poten.basket.Poten.VO.Photo">
        SELECT
            id
            , seq
            , save_name AS saveName
            , photo_upload_date AS photoUploadDate
            , nickname
            , original_name AS originalName
            , upload_path AS uploadPath
        FROM photo
        WHERE
            id = #{id}
    </select>

    <select id="getLastID" resultType="int">
        SELECT MAX(id) + 1
        FROM basket_spot
    </select>

    <select id="visitCount" resultType="int">
        SELECT visit_count
        FROM visit
        WHERE visit = "visit"
    </select>

    <select id="getFeedbacks" resultType="com.poten.basket.Poten.VO.Feedbacks">
        SELECT
        id
        , fd_comment AS fdComment
        , fd_rating AS fdRating
        , fd_create_date AS fdCreateDate
        FROM feedback
    </select>

    <insert id="feedback" parameterType="map">
        INSERT INTO feedback(
            fd_comment
            , fd_rating
        ) VALUES(
            #{fdComment}
            , #{fdRating}
        )
    </insert>

    <insert id="mapCre" parameterType="com.poten.basket.Poten.VO.MapRequest">
        INSERT INTO basket_spot (
            lat
            , lon
            , court_type
            , fee_yn
            , court_size
            , goal_post
            <!-- , shower_yn -->
            , park_yn
            , create_date
            , address
            , comment
            , court_name
            , has_light
            , light_time
            , open_status
            , open_time
        ) VALUES (
            #{lat}
            , #{lon}
            , #{courtType}
            , #{feeYn}
            , #{courtSize}
            , #{goalPost}
            <!-- , #{showerYn} -->
            , #{parkYn}
            , NOW()
            , #{address}
            , #{comment}
            , #{courtName}
            , #{hasLight}
            , #{lightTime}
            , #{openStatus}
            , #{openTime}
        )
    </insert>

    <insert id="mapPhotoUpload" parameterType="list">
        INSERT INTO photo(
            id
            , seq
            , save_name
            , original_name
            , photo_upload_date
            , nickname
            , upload_path
        ) VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.id}
            , #{item.seq}
            , #{item.saveName}
            , #{item.originalName}
            , NOW()
            , #{item.nickname}
            , #{item.uploadPath}
        )
        </foreach>
    </insert>

    <update id="visitCounting">
        UPDATE visit
        SET
            visit_count = visit_count + 1
        WHERE visit = "visit"
    </update>

    <update id="mapUpt" parameterType="com.poten.basket.Poten.VO.MapRequest">
        UPDATE basket_spot
        SET
            court_type = #{courtType}
            , fee_yn = #{feeYn}
            , court_size = #{courtSize}
            , goal_post = #{goalPost}
            <!-- , shower_yn = #{showerYn} -->
            , park_yn = #{parkYn}
            , modify_date = NOW()
            , court_name = #{courtName}
            , comment = #{comment}
            , has_light = #{hasLight}
            , light_time = #{lightTime}
            , open_status = #{openStatus}
            , open_time = #{openTime}
        WHERE
            id = #{id}
            <!-- lat = #{lat} -->
        <!-- AND lon = #{lon} -->
    </update>

    <delete id="delPhoto" parameterType="Integer">
        DELETE FROM photo
        WHERE
            id = #{id}
    </delete>

</mapper>
