<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poten.basket.Poten.DAO.UserDAO">

    <select id="findByRefreshToken" resultType="com.poten.basket.Poten.VO.User">
        SELECT
            u.nickname
            , u.email
            , ut.refresh_token AS refreshToken
        FROM user u, user_token ut
        WHERE
            ut.refresh_token = #{refreshToken}
    </select>

    <select id="findByEmail" resultType="com.poten.basket.Poten.VO.User">
        SELECT
            email
            , nickname
            , refresh_token AS refreshToken
        FROM user
        WHERE
            email = #{email}
    </select>


    <update id="updateRefreshToken" parameterType="String">
        UPDATE user_token
        SET refresh_token = #{refreshToken}
        WHERE
            email = #{email}

    </update>

</mapper>